<section id="main">
  <div ng-controller="nuevoAspectoRubricaCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-10">
                <h2>{{ctrl.titulo}}<h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row-md-12">
              <div class="row-md-12">
                <label class="col-md-8 control-label">T&iacute;tulo</label>
                <label class="col-md-2 control-label">Puntaje máximo</label>
                <div class="col-md-2">
                  <div class="form-group fg-line">
                    <input class="form-control input-sm" placeholder="Puntaje máximo del aspecto" ng-model="ctrl.aspecto.puntaje_maximo">
                  </div>
                </div>
              </div>
              <div class="row-md-12">
                <!-- <div class="col-md-12"> -->
                  <div class="col-md-12 form-group fg-line">
                    <input class="form-control input-sm" placeholder="Ingrese el título del aspecto" ng-model="ctrl.aspecto.titulo">
                  </div>
                <!-- </div> -->
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <label class="control-label">Descripci&oacute;n</label>
                <!-- <div class="col-md-12"> -->
                  <div class="form-group fg-line m-t-5">
                    <textarea class="form-control" rows="5" placeholder="Ingrese la descripción del aspecto" ng-model="ctrl.aspecto.descripcion" maxlength="9000">
                    </textarea>
                  </div>
                <!-- </div> -->
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <label class="col-md-1 control-label m-t-15 m-r-15">Criterios</label>
                <div class="col-md-1 form-group fg-line">
                  <label class="btn bgm-blue btn-float waves-effect waves-circle" ng-click="ctrl.agregarCriterio()"><i class="fa fa-plus"></i></label>
                </div>
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <div class="table-responsive p-t-30">
                  <table ng-table="ctrl.criteriosTabla" class="table table-bordered">
                    <tr ng-repeat="criterio in ctrl.criteriosLista">
                      <td data-title="'Nro.'" align="center" width="5%">
                        {{$index + 1}}
                      </td>
                      <td data-title="'Descripción del Criterio'">
                        {{criterio.descripcion}}
                      </td>
                      <td data-title="'Indicaciones del Criterio'">
                        {{criterio.indicaciones}}
                      </td>
                      <td data-title="'Detalle'" align="center">
                        <a href="" ng-click="ctrl.editarCriterio($index)" class="m-r-10"><i class="fa fa-pencil-alt"></i></a>
                        <a href="" ng-click="ctrl.eliminarCriterio($index)" class="m-l-10"><i class="fa fa-trash-alt"></i></a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12 m-t-20" align="right">
                <button type="button" ng-click = "ctrl.guardarAspecto()" class="btn btn-primary waves-effect"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" ng-click = "ctrl.regresar()" class="btn btn-default waves-effect bgm-green"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
