<section id="main">
  <div ng-controller="vistaActualizarGrupoCtrl as ctrl">
    <div class="container">
      <div class="row">
        <div class="col m-b-10">
          <div class="block-container">
            <h2> {{ctrl.horario.cursoNombre}} - {{ctrl.horario.horarioNombre}} </h2>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-12">
                <h3> Alumnos sin grupo </h3>
                <!--button class="btn btn-primary" ng-click = ""><i class="fa fa-users"></i> Grupos </button-->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table ng-table="" class="table table-hover">
                    <tr ng-repeat="alumno in ctrl.alumnosSinGrupo" (click)="RowSelected(alumno);">
                      <td data-title="'Código'">
                        {{alumno.codigo}}
                      </td>
                      <td data-title="'Nombre'">
                        {{alumno.nombreCompleto}}
                      </td>
                      <td data-title="'Especialidad'">
                        {{alumno.nombreEspecialidad}}
                      </td>
                      <td data-title="'Agregar'">
                        <input type="checkbox" ng-model="alumno.marcado">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1" align="center">
          <div class="<col-md-12 m-t-50>">
            <div class="row">
              <div class="col-md-12 m-t-30">
                <button class="btn btn-primary color-fondo-azul-pucp" ng-click = "ctrl.agregarAlGrupo()"><i class="fa fa-arrow-right"></i> </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 m-t-30">
                <button class="btn btn-primary color-fondo-azul-pucp" ng-click = "ctrl.sacarDelGrupo()"><i class="fa fa-arrow-left"></i> </button>
              </div>
            </div>
          </div>
      </div>

        <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-5">
                      <h3> Nombre grupo:</h3>
                    </div>
                    <div class="col-md-6 m-t-15" align="left">
                      <h2>  <input class="form-control input-letra-prometeo" rows="1" placeholder="Ingrese nombre del grupo" ng-model = "ctrl.grupo.nombre"> </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table ng-table="" class="table table-hover">
                        <tr ng-repeat="alumno in ctrl.alumnosGrupo" (click)="RowSelected(alumno);">
                          <td data-title="'Código'">
                            {{alumno.codigo}}
                          </td>
                          <td data-title="'Nombre'">
                            {{alumno.nombreCompleto}}
                          </td>
                          <td data-title="'Especialidad'">
                            {{alumno.nombreEspecialidad}}
                          </td>
                          <td data-title="'Sacar'">
                            <input type="checkbox" ng-model="alumno.marcado">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="col m-t-50" align="right">
      <button type="button" class="btn btn-primary waves-effect color-fondo-azul-pucp" ng-click="ctrl.actualizarGrupo()"><i class="fa fa-save"></i> Guardar</button>
      <button type="button" class="btn btn-default waves-effect bgm-green" ng-click="ctrl.volverCurso()"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
    </div>

    </div>
  </div>
</section>
