  <!-- <ul class="header-inner clearfix ng-scope"> -->
  <style>
    .header-1 {
      margin: 0px;
      padding: 0px;
      background-color: white;
      border-radius: 30px 30px 30px 0px;
      /* width: 430px; */
      height: 70px;
    }
    .header-2 {
      margin: 0px;
      padding: 0px;
      padding-right: 60px;
      /* border: solid; */
      /* background-color: yellow; */
      width: 510px;
      height: 70px;
      /* line-height: 70px; */
      float: right;
    }
    .header-3 {
      margin: 0;
      padding: 0;
      /* padding-right: 60px; */
      /* border: solid; */
      /* background-color: yellow; */
      /* width: 510px; */
      height: 30px;
      line-height: 30px;
    }
    .imagen-logo {
      height: 100%;
      width: 80%;
    }
    .header-4 {
      /* margin: 5px 20px 0px 20px; */
      margin-top: 5px;
      padding: 0px;
      /* background-color: white; */
      border-radius: 0px 0px 30px 30px;
      /* width: 430px; */
      border-bottom: solid;
      border-color: #2b78e4;
      /* weight: 90px; */
      height: 40px;
      line-height: 30px;
      color: #2b78e4;
      font-weight: 750;
      background: white;
      font-size: 15px;
    }
    .header-5 {
      /* weight: 20px; */
      margin: 0px;
      margin-top: 5px;
      padding: 0px 20px;
      /* float: left; */
      /* border: solid; */
    }
  </style>
  <div class="row" style="margin: 0px; padding: 0px;">
    <div class="col-md-6 header-1" align="center">
      <a ui-sref=""><img src="imagenes/logo.jpeg" alt="prometeo" class="imagen-logo"></a>
    </div>
    <div class="col-md-6 border header-2">
      <a ui-sref=""><img src="imagenes/logo2.jpeg" alt="prometeo" class="imagen-logo"></a>
    </div>
  </div>
  <div class="row-md-12 header-4">
    <div class="header-5 float-left" style="border-right: solid;" align="center">
      {{rCtrl.usuario.nombreCompleto}}
    </div>
    <div class="header-5 float-left" align="center">
      {{rCtrl.usuario.codigo}}
    </div>
    <div class="header-5 float-left" style="border-left: solid;" align="center" ng-repeat="rol in rCtrl.usuario.roles">
      <a href="" ng-click="rCtrl.cargarPestana(rol)">{{rol.descripcion}}</a>
    </div>
    <div class="header-5 float-right" align="center">
      <a href="" ng-click="rCtrl.logOut()"><i class="fa fa-sign-out-alt"></i></a>
    </div>
  </div>
