<!-- Anderson -->
<section id="main">
  <div ng-controller="listarEntregablesXProyectoCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <h2>{{ctrl.tituloVer}}</h2>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h2>Entregables</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <h4 class="col-sm-3">Crear Entregable</h4>
            <div class="col-sm-9">
              <div class="fg-line">
                <button ng-click = "ctrl.crearEntregable()" class="btn bgm-blue btn-float waves-effect waves-circle"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </div><br><br><br>
          <div class="col-sm-9">
            <div class="form-group">
              <div class="table-responsive input-letra-prometeo">
                <table ng-table="ctrl.entregablesTabla" class="table table-bordered">
                  <tr ng-repeat="entregable in ctrl.entregablesLista">
                    <td data-title="'NRO.'" align="center" width="5%">
                      {{$index + 1}}
                    </td>
                    <td data-title="'ENTREGABLE'">
                      <div class="col" ng-click="ctrl.avancesEntregable(entregable)">
                        <a href="">{{entregable.nombre}}</a>
                      </div>
                    </td>
                    <td data-title="'MÉTODO'">
                      <div align="center" ng-if="entregable.metodoTrabajo==0">
                        <a> Indiv. </a>
                      </div>
                      <div align="center" ng-if="entregable.metodoTrabajo==1">
                        <a> Grupal </a>
                      </div>
                    </td>
                    <td data-title="'FECHA CREACIÓN'" align="center">
                      {{entregable.fechaHabilitacionStr}}
                    </td>
                    <td data-title="'FECHA FIN'" align="center">
                      {{entregable.fechaFinStr}}
                    </td>
                    <td data-title="'ACCIONES'" align="center" widht="25%">
                      <a href="" ng-click="ctrl.verEntregable(entregable)" class="m-r-10">
                        <i class="fa fa-pencil-alt"></i>
                      </a>
                      <a href="" ng-click="ctrl.elminarEntregable(entregable)" class="m-l-10">
                        <i class="fa fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-12" align="right">
            <button type="button" ng-click = "ctrl.regresarProyectos()" class="btn btn-default waves-effect"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
