<!-- Anderson -->
<section id="main">
  <style>
    .full button span {
      background-color: yellow;
      border-radius: 32px;
      color: black;
    }
    .start button span {
      background-color: green;
      border-radius: 32px;
      color: black;
    }
    .partially button span {
      background-color: red;
      border-radius: 32px;
      color: black;
    }
  </style>
  <div ng-controller="entregableCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <h2></h2>
      </div>
      <div class="card" ng-init="init()">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ctrl.titulo}}</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <form class="form-horizontal ng-pristine ng-valid">
                <div class="card-body card-padding">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Nombre*:</label>
                        <div class="col-sm-8">
                          <div class="fg-line">
                              <input type="text" class="form-control input-sm" ng-model="ctrl.entregableG.nombre" placeholder="e.g: Entregable de Ingeniería de Software">
                          </div>
                        </div>
                      </div>
                      <div class="form-group"><!--fechaI horaI-->
                        <label class="col-sm-4 control-label">Fecha y Hora Habilitación*:</label>
                        <div class="col-sm-4">
                          <div class="fg-line">
                              <input type="date" class="form-control input-sm" ng-model="ctrl.entregableG.fechaHabilitacion" placeholder="e.g: 11/04/2019" min="{{fechaActual | date:'yyyy-MM-dd'}}" ng-init="ctrl.marcarFechaInicio(ctrl.entregableG.fechaHabilitacion)" ng-change="ctrl.marcarFechaInicio(ctrl.entregableG.fechaHabilitacion)">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="fg-line">
                              <input type="time" class="form-control input-sm" ng-model="ctrl.entregableG.fechaHabilitacion">
                          </div>
                        </div>
                      </div>
                      <div class="form-group"><!--fechaF horaF-->
                        <label class="col-sm-4 control-label">Fecha y Hora Entrega*:</label>
                        <div class="col-sm-4">
                          <div class="fg-line">
                              <input type="date" class="form-control input-sm" ng-model="ctrl.entregableG.fechaEntrega" placeholder="e.g: 20/04/2019" min="{{fechaActual | date:'yyyy-MM-dd'}}" ng-init="ctrl.marcarFechaFin(ctrl.entregableG.fechaEntrega)" ng-change="ctrl.marcarFechaFin(ctrl.entregableG.fechaEntrega)">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="fg-line">
                              <input type="time" class="form-control input-sm" ng-model="ctrl.entregableG.fechaEntrega">

                          </div>
                        </div>
                      </div>
                      <div class="form-group"><!--descrEntrg-->
                        <label class="col-sm-4 control-label">Descripción*:</label>
                        <div class="col-sm-8">
                          <div class="fg-line">
                              <textarea class="form-control" rows="5" ng-model="ctrl.entregableG.descripcion"  placeholder="......."></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="form-group"><!--puntaje-->
                        <label class="col-sm-4 control-label">Ponderación*:</label>
                        <div class="col-sm-8">
                          <div class="fg-line">
                              <input type="number" ng-model="ctrl.entregableG.ponderacion" class="form-control input-sm">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Herramienta de Evaluación:</label>
                        <div class="col-sm-8">
                          <div class="fg-line">
                              <label ng-click="ctrl.crearHerramienta()" class="btn bgm-blue btn-float waves-effect waves-circle"><i class="fa fa-plus"></i></label>
                              <!-- for="archivoEntregable" <input type="file" id="archivoEntregable" subir-archivo parametros="" evento-post-seleccion="ctrl.obtenerInfoArchivo" style="display:none">-->
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="table-responsive p-t-30">
                          <table ng-table="ctrl.herramientasTabla" class="table table-bordered">
                            <tr ng-repeat="herramienta in ctrl.herramientasEvaluacion">
                              <td data-title="'Nombre'">
                              </td>
                              <td data-title="'Detalle'">
                                <a ng-click = "">Ver detalle</a>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <form class="form-horizontal ng-pristine ng-valid">
                <div class="card-body card-padding">
                  <div class="form-group">
                    <label class="control-label">Notificaciones</label>
                  </div>
                  <div style="display:inline-block; min-height:290px;">
                    <div ng-if="ctrl.fechasCargadas" uib-datepicker ng-model="dt" ng-click="ctrl.marcarFecha(dt)" class="well well-sm" datepicker-options="options"></div>
                    <div ng-if="!ctrl.fechasCargadas">{{ctrl.mensajeFecha}}</div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right">
              <button type="button" ng-click = "ctrl.gestionarEntregable(ctrl.entregableG)" class="btn btn-primary waves-effect"><i class="fa fa-save"></i> Grabar </button>
              <button type="button" ng-click = "ctrl.regresarEntregables()" class="btn btn-default waves-effect"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
              <!--<button type="button" class="btn btn-primary waves-effect" ng-click = "ctrl.probar()"><i class="fa fa-file"></i> Probar Swal</button>-->
            </div>

          <!-- <div class="row">
            <div class="col-md-12">
              <ul>
                <li ng-repeat="alumno in ctrl.alumnosLista">
                  Nombre: {{alumno.nombre}}, carrera: {{alumno.carrera}}
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
