<section id="main">
  <div ng-controller="gestionUsuariosCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <h2>Gestionar Usuarios</h2>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ctrl.mensaje}}</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <button class="btn btn-primary" ng-click = "ctrl.agregarUsuario()"><i class="fa fa-plus-circle"></i> Agregar Usuario</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table ng-table="ctrl.tablaUsuarios" class="table table-bordered">
                  <tr ng-repeat="usuario in ctrl.usuariosLista">
                    <td data-title="'Código'">
                      {{usuario.codigo}}
                    </td>
                    <td data-title="'Nombre'">
                      {{usuario.nombres + ' ' + usuario.apellidos}}
                    </td>
                    <td data-title="'Correo'">
                      {{usuario.correo}}
                    </td>
                    <td data-title="'Acciones'">
                      <ul class="actions texto-centrado">
                        <li class="dropdown action-show" uib-dropdown="">
                          <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                          </a>
                          <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                              <a><i class="zmdi zmdi-eye"> Ver detalle</i></a>
                            </li>
                            <li>
                              <a ng-click="ctrl.eliminarUsuario(usuario, $index)"><i class="zmdi zmdi-delete"> Eliminar</i></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
