<section id="main">
  <div ng-controller="calificacionAspectosCtrl as ctrl">
    <div class="container">
      <h3>Evaluaci&oacute;n de la herramienta</h3>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
                <h4>Aspectos</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group fg-line">
            <uib-accordion close-others="true">
              <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups" is-open="group.accordionOpen">
                <uib-accordion-heading>
                Descripcion de los aspectos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.accordionOpen, 'glyphicon-chevron-right': !group.accordionOpen}"></i>
                </uib-accordion-heading>
                <div class="form-group fg-line">
                  <label class="col-sm-8 p-t-10 p-l-0">Observaci&oacute;n</label>
                  <label class="col-sm-2 p-t-10">Puntaje</label>
                  <input type="number" step="any" class="col-sm-2 form-control input-sm" ng-model="" placeholder="Ingrese el puntaje">
                  <textarea class="form-control p-t-10" rows="2" placeholder="Ingrese la observación general del entregable" ng-model="">
                  </textarea>
                  <div class="form-group">
                    <div class="table-responsive p-t-30">
                      <table ng-table="ctrl.criteriosTabla" class="table table-bordered">
                        <tr ng-repeat="criterio in ctrl.criteriosLista">
                          <td data-title="'Criterio'">
                          </td>
                          <td data-title="nivelRubrica.descripcion" align="center" ng-repeat="nivelRubrica in ctrl.evaluacionAspecto">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>
          <div class="col-md-12" align="right">
            <button type="button" ng-click = "" class="btn btn-primary waves-effect"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" ng-click = "ctrl.regresar()" class="btn btn-default waves-effect"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
