<!-- <div class="card-body"> -->
  <div class="row">
    <div class="col-6">
      <form class="form-horizontal ng-pristine ng-valid">
        <div class="card-body card-padding">
          <div class="form-group">
            <label class="col-sm-4 control-label">C&oacute;digo*:</label>
            <div class="col-sm-8">
              <div class="fg-line">
                  <input type="text" class="form-control input-sm" ng-model="ctrl.especialidad.codigo" placeholder="e.g: 12345678">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Nombre*:</label>
            <div class="col-sm-8">
              <div class="fg-line">
                  <input type="text" class="form-control input-sm" ng-model="ctrl.especialidad.nombre" placeholder="e.g: 2019-1">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Facultad*:</label>
            <div class="col-sm-8">
              <div class="fg-line">
                <select class="form-control"
                  placeholder="Seleccione una facultad"
                  ng-model="ctrl.especialidad.facultad"
                  ng-options="facultad.nombre for facultad in ctrl.facultadesLista">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6">
      <form class="form-horizontal ng-pristine ng-valid">
        <div class="card-body card-padding">
          <div class="form-group">
            <label class="col-sm-4 control-label">Responsable*:</label>
            <div class="col-sm-8">
              <div class="fg-line">
                  <input type="text" class="form-control input-sm" ng-model="ctrl.especialidad.responsable" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<!-- </div> -->
