<!-- César -->
<section id="main">
  <div ng-controller="administradorEspecialidadCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <h2></h2>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h2>Especialidades</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-8">
              <form class="form-horizontal ng-pristine ng-valid">
                <div class="card-body card-padding">

                  <table ng-table="ctrl.especialidadesTabla" class="table table-hover">
                    <tr ng-repeat="especialidad in ctrl.especialidadesLista">
                      <td data-title="'NRO.'" align="center" width="5%">
                        {{$index + 1}}
                      </td>
                      <td data-title="'ESPECIALIDAD'">
                        {{especialidad.nombre}}
                      </td>
                      <td data-title="'ACCIONES'">
                        <a style="padding:10px;" ng-click="ctrl.verEspecialidad(especialidad)">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a style="padding:10px;" ng-click="ctrl.eliminarEspecialidad(especialidad)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </td>

                    </tr>
                  </table>

                </div>
              </form>

                </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right">
              <button type="button" ng-click = "ctrl.regresarAdministrador()" class="btn btn-default waves-effect"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
