<section id="main">
  <div ng-controller="visualizacionCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <div class="card">
          <div class="card-header">
            <h2>Evaluación</h2>
          </div>
          <div class="card-body">
            <div class="row-md-12">
              <div class="col-md-8">
                <label class="control-label label-letra-prometeo p-t-10">Observaci&oacute;n</label>
              </div>
              <div class="col-md-4">
                <label class="col-sm-4 control-label label-letra-prometeo p-t-10">Puntaje</label>
                <div class="form-group fg-line col-sm-8">
                  <input ng-if="!ctrl.noMostrarCalificacion" type="number" min="0" step="any" class="form-control input-sm" ng-disabled="true" ng-model="ctrl.evaluacion.calificacionEvaluacion.puntaje" placeholder="Ingrese el puntaje">
                  <input ng-if="ctrl.noMostrarCalificacion" type="number" min="0" step="any" class="form-control input-sm" ng-disabled="true" placeholder="0">
                </div>
              </div>
            </div>
            <div class="row-md-12">
              <div class="col-md-12">
                <div class="form-group fg-line">
                  <textarea ng-if="!ctrl.noMostrarCalificacion" class="form-control p-t-10" rows="2" placeholder="No hay observación general del entregable" ng-model="ctrl.evaluacion.calificacionEvaluacion.observacion" disabled></textarea><br>
                  <textarea ng-if="ctrl.noMostrarCalificacion" class="form-control p-t-10" rows="2" placeholder="No hay observación general del entregable" disabled></textarea><br>
                </div>
              </div>
            </div>
            <div class="row-md-12">
              <div class="form-group col-sm-12">
                <div class="table-responsive">
                  <table ng-Table="ctrl.tablaHerramientas" class="table table-bordered">
                    <tr ng-repeat="herramienta in ctrl.herramientaEvaluacionLista">
                      <td data-title="'Nro.'" align="center" width="5%">
                        {{$index + 1}}
                      </td>
                      <td data-title="'Nombre Herramienta'">
                        {{herramienta.tipoHerramientaEvaluacion}}
                      </td>
                      <td data-title="'Descripción Herramienta'">
                        {{herramienta.descripcion}}
                      </td>
                      <td ng-if="!ctrl.noMostrarCalificacion" data-title="'Puntaje'" align="center">
                        {{herramienta.puntaje}}
                      </td>
                      <td ng-if="ctrl.noMostrarCalificacion" data-title="'Puntaje'" align="center">
                        0
                      </td>
                      <td data-title="'Ver'" align="center">
                        <a ng-click="ctrl.visualizarHerramienta($index)" class="m-l-10"><i class="fa fa-eye"></i></a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row-md-12">
            <div class="col-sm-12">
              <button class="btn bgm-green btn-default waves-effect float-right m-15" ng-click="ctrl.atras()"><i class="fa fa-arrow-circle-left"></i> Atr&aacute;s</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
