<div class="form-group">
  <div class="table-responsive input-letra-prometeo">
    <table ng-table="ctrl.entregablesTabla" class="table table-bordered">
      <tr ng-repeat="entregable in ctrl.entregablesLista">
        <td data-title="'NRO.'" align="center" width="5%">
          {{$index + 1}}
        </td>
        <td data-title="'ENTREGABLE'">
          <div class="col" ng-click="ctrl.verEntregable(entregable)">
            <a href="">{{entregable.nombre}}</a>
          </div>
        </td>
        <td data-title="'FECHA CREACIÓN'" align="center">
          {{entregable.fechaCreacionStr}}
        </td>
        <td data-title="'FECHA DE ENTREGA'" align="center">
          {{entregable.fechaFinStr}}
        </td>
        <td data-title="'NOTA'" align="center" widht="5%">
          -
        </td>
      </tr>
    </table>
  </div>
</div>
