<div class="col-md-12">
  <div class="row" align="center">
    <div class="col-md-1">NRO.</div>
    <div class="col-md-3">PROYECTO</div>
    <div class="col-md-3">FECHA CREACIÓN</div>
    <div class="col-md-3">FECHA DE ENTREGA</div>
    <div class="col-md-2">NOTA</div>
  </div>
  <div ng-repeat="proyecto in ctrl.proyectosLista" >
    <div class="row">
      <div class="col-md-1" align="center" width="5%">
        {{$index + 1}}
      </div>
      <div class="col-md-3" >
        <a href="" ng-click="ctrl.verProyecto(proyecto)"> {{proyecto.nombre}}</a>
      </div>
      <div class="col-md-3" align="center">
        <a> {{proyecto.fechaCreacionStr}} </a>
      </div>
      <div class="col-md-3" align="center">
        <a> {{proyecto.fechaFinStr}} </a>
      </div>
      <div class="col-md-2" align="center">-</div>
    </div>
  </div>
</div>
