<div class="form-group">
  <div class="table-responsive input-letra-prometeo">
    <table ng-table="ctrl.proyectosTabla" class="table table-bordered">
      <tr ng-repeat="proyecto in ctrl.proyectosLista">
        <td data-title="'NRO.'" align="center" width="5%">
          {{$index + 1}}
        </td>
        <td data-title="'PROYECTO'">
          <div class="col" ng-click="ctrl.verProyecto(proyecto)">
            <a href="">{{proyecto.nombre}}</a>
          </div>
        </td>
        <td data-title="'FECHA CREACIÓN'" align="center">
          {{proyecto.fechaCreacionStr}}
        </td>
        <td data-title="'FECHA DE ENTREGA'" align="center">
          {{proyecto.fechaFinStr}}
        </td>
        <td data-title="'NOTA'" align="center" widht="25%">
          -
        </td>
      </tr>
    </table>
  </div>
</div>
