<section id="main">
  <style>
    .full button span {
      background-color: red;
      border-radius: 32px;
      color: black;
    }
  </style>
  <div ng-controller="alumnoCursoCtrl as ctrl">
    <div class="container">
      <div class="block-container" ng-init="ctrl.cargarProyectos(); ctrl.cargarEntregables();">
        <h2> {{ctrl.curso.codigoCurso}} - {{ctrl.curso.nombreCurso}} - {{ctrl.curso.horario}}</h2>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" ng-class="{active:ctrl.cargaProyectos}" href="" ng-click="ctrl.cambiarVista(0)">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" ng-class="{active:!ctrl.cargaProyectos}" href="" ng-click="ctrl.cambiarVista(1)">Entregables</a>
              </li>
            </ul>
          </div>
          <div ng-if="ctrl.cargaProyectos" class="card-body" ng-include="'SPA/Prototipo-Prometeo/Alumno/Gestion-Curso/cardProyectos.html'"></div>
          <div ng-if="!ctrl.cargaProyectos" class="card-body" ng-include="'SPA/Prototipo-Prometeo/Alumno/Gestion-Curso/cardEntregables.html'"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div style="display:inline-block; min-height:290px;">
          <div ng-if="ctrl.fechasCargadas" uib-datepicker ng-model="dt" ng-click="" class="well well-sm" datepicker-options="options"></div>
        </div>
      </div>
      <div class="col-md-12 m-t-20" align="right">
        <button type="button" class="btn btn-default waves-effect" ng-click="ctrl.regresarMisCursos()"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
      </div>
    </div>
  </div>
</section>
