<!-- Anderson -->
<section id="main">
  <div ng-controller="listarEntrgxProyAlumnoCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <h2>{{ctrl.tituloVer}}</h2>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h2>Entregables</h2>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="form-group fg-line">
            <uib-accordion close-others="true">
              <div uib-accordion-group class="panel-default" ng-repeat="entregable in ctrl.entregablesLista" is-open="entrgbAccordion.AccordionOpen">
                <uib-accordion-heading>
                <u>{{entregable.nombre}}</u> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': entrgbAccordion.AccordionOpen, 'glyphicon-chevron-right': !entrgbAccordion.AccordionOpen}"></i>
                <a href="#" class="float-right">{{entregable.fechaEntrega | date:"MM/dd/yyyy"}} </a>
                </uib-accordion-heading>
                <div class="form-group fg-line">
                  <label class="col-sm-8 p-t-10 p-l-0">Descripci&oacute;n</label>
                  <textarea class="form-control p-t-10" rows="2" ng-model="entregable.descripcion" disabled>
                  </textarea>
                </div>
                <div class="form-group fg-line">
                  <div class="col-md-12" align="right">
                      <button type="button" ng-click = "" class="btn btn-primary"><i class="far fa-edit"></i> Evaluación</button>
                      <button type="button" ng-click = "" class="btn bgm-gray waves-effect"><i class="fas fa-file-alt"></i> Archivos</button>
                      <button type="button" ng-click = "" class="btn bgm-brown waves-effect"><i class="fas fa-vote-yea"></i> Encuesta</button>
                  </div>
                </div>
                <!-- <div class="form-group fg-line">
                  <label class="col-sm-8 p-t-10 p-l-0">Observaci&oacute;n Aspecto</label>
                  <label class="col-sm-2 p-t-10" ng-model="aspecto.puntajeAsignado">Puntaje</label>
                  <input type="number" step="any" class="col-sm-2 form-control input-sm" ng-model="aspecto.puntajeAsignado" placeholder="Ingrese el puntaje">
                  <textarea class="form-control p-t-10" rows="2" placeholder="Ingrese la observación del aspecto" ng-model="aspecto.observacion">
                  </textarea>
                </div>
                <div class="form-group fg-line">
                  <p>Criterios</p>
                </div>
                <div class="form-group fg-line p-l-10" ng-repeat="criterio in aspecto.criterios">
                  {{($index+1) + '. ' + criterio.descripcion}}
                  <div class="radio m-b-15" ng-repeat="nivel in ctrl.nivelesRubrica">
                    <label>
                        <input type="radio" name="{{criterio.id}}" value="">
                        <i class="input-helper"></i>
                        {{nivel.descripcion}} : {{criterio.nivelesCriterios[$index].descripcion}}
                    </label>
                  </div>
                  <label class="col-sm-8 p-t-10 p-l-0">Observaci&oacute;n Aspecto</label>
                  <textarea class="form-control p-t-10" rows="2" placeholder="Ingrese la observación del criterio" ng-model="criterio.observacion">
                  </textarea>
                </div> -->
              </div>
            </uib-accordion>
          </div>
                <div class="col-md-12" align="right">
                  <button type="button" ng-click = "ctrl.regresarProyectos()" class="btn btn-default waves-effect"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
                  <!-- <button ng-click = "ctrl.probar()" class="btn btn-primary waves-effect"> Probar</button> -->
                </div>

        </div>
      </div>
    </div>
  </div>
</section>
