<div class="col-md-12">
  <div class="row" align="center" style="padding:10px;">
    <div class="col-md-1">NRO.</div>
    <div class="col-md-3">PROYECTO</div>
    <div class="col-md-2">MÉTODO</div>
    <div class="col-md-2">FECHA CREACIÓN</div>
    <div class="col-md-2">FECHA FIN</div>
    <div class="col-md-2">ACCIONES</div>
  </div>
  <div ng-repeat="proyecto in ctrl.proyectosLista" >
    <div class="row" style="padding:5px;">
      <div class="col-md-1" align="center" width="5%">
        {{$index + 1}}
      </div>
      <div class="col-md-3" ng-click="ctrl.ingresarProyecto(proyecto)">
        <a href=""> {{proyecto.nombre}} </a>
      </div>
      <div class="col-md-2" align="center" ng-if="proyecto.metodoTrabajo==0">
        <a> Indiv. </a>
      </div>
      <div class="col-md-2" align="center" ng-if="proyecto.metodoTrabajo==1">
        <a> Grupal </a>
      </div>
      <div class="col-md-2" align="center">
        <a> {{proyecto.fechaCreacionStr}} </a>
      </div>
      <div class="col-md-2" align="center">
        <a> {{proyecto.fechaFinStr}} </a>
      </div>
      <div class="col-md-2" align="center">
        <a href="" style="padding:10px;" ng-click="ctrl.verProyecto(proyecto)">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a href="" style="padding:10px;" ng-click="ctrl.eliminarProyecto(proyecto)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
    </div>
  </div>
</div>
