<section id="main">
  <div ng-controller="profesorCursoCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <h2> {{ctrl.curso.codigoCurso}} - {{ctrl.curso.nombreCurso}} - {{ctrl.curso.horario}}</h2>
      </div>
      <div class="col-md-3" ng-if="ctrl.usuarioRol === 'Profesor'">
        <div class="card ">
          <div class="card-header" align="center">
                <h2> Acciones </h2>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="<col-md-12 m-t-50>" align="center">
                <div class="row">
                  <div class="col-md-12">
                    <button ng-click = "ctrl.crearProyecto()" class = "btn btn-default waves-effect bgm-blue largo-boton"><i class="fa fa-plus"></i> Nuevo proyecto</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 m-t-30">
                    <button ng-click = "ctrl.crearEntregable()" class = "btn btn-default waves-effect bgm-blue largo-boton"><i class="fa fa-plus"></i> Nuevo entregable</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 m-t-30">
                    <button ng-click = "ctrl.crearCoEvaluacion()" class = "btn btn-default waves-effect bgm-blue largo-boton"><i class="fa fa-plus" color= "white"></i> Nueva co-evaluaci&oacute;n</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 m-t-30">
                    <button ng-click = "ctrl.listaAlumnos()" class = "btn btn-default waves-effect bgm-blue largo-boton"><i class="fa fa-plus"></i> Lista Alumnos</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
          <div class="card">
            <div class="card-header" >
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link letra-tabs" ng-class="{active:ctrl.cargaUnitaria}" href="" ng-click="ctrl.cambiarVista(0)">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link letra-tabs" ng-class="{active:!ctrl.cargaUnitaria}" href="" ng-click="ctrl.cambiarVista(1)">Entregables</a>
                </li>
              </ul>
            </div>
            <div ng-if="ctrl.cargaUnitaria" class="card-body" ng-include="'SPA/Prototipo-Prometeo/Profesor/Gestion-Curso/cardProyectos.html'">
            </div>
            <div ng-if="!ctrl.cargaUnitaria" class="card-body" ng-include="'SPA/Prototipo-Prometeo/Profesor/Gestion-Curso/cardEntregables.html'">
            </div>
          </div>
      </div>
      <div class="col-md-12 m-t-20" align="right">
        <button type="button" class="btn btn-default waves-effect bgm-green" ng-click="ctrl.volverCurso()"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
        <!-- <button ng-click = "ctrl.probarSwal()"><i class="fa fa-file"></i> Probar Swal</button> -->
      </div>
    </div>
  </div>
</section>
