<section id="main">
  <div ng-controller="visualizacionEscalaCtrl as ctrl">
    <div class="container">
      <h3>Evaluaci&oacute;n de la herramienta</h3>
      <div class="card">
        <div class="card-header">
          <h2>Criterios</h2>
        </div>
        <div class="card-body">
          <div class="row-md-12">
            <div class="col-md-3 float-right">
              <label class="col-sm-4 p-t-10">Puntaje</label>
              <div class="form-group fg-line">
                <input ng-if="!ctrl.noMostrarCalificacion" type="number" min="0" step="any" class="col-sm-8 form-control input-letra-prometeo" ng-model="ctrl.puntajeAsignado" ng-disabled="true" placeholder="No hay puntaje">
                <input ng-if="ctrl.noMostrarCalificacion" type="number" min="0" step="any" class="col-sm-8 form-control input-letra-prometeo" ng-disabled="true" placeholder="0"><br><br>
              </div>
            </div>
          </div>
          <!-- <div class="row-md-12"> -->
            <!-- <div class="col-md-12"> -->
              <div class="row-md-12" ng-repeat="criterio in ctrl.evaluacionEscala">
                <div class="col-md-12">
                  <div class="row-md-12" style="width: 100%; heigth: 250px; color:black; font-width:1200; font-size:20px; background:silver">
                    <!-- <div class="col-md-12"> -->
                      <label>Criterio {{$index + 1}}: {{criterio.descripcion}}</label>
                      <!-- <label>{{$index + 1}}. {{criterio.descripcion}}</label> -->
                    <!-- </div> -->
                  </div>
                  <div class="row-md-12">
                    <div class="col-md-12">
                      <label class="control-label label-letra-prometeo p-t-10" align="right">Indicaciones del criterio</label>
                      <div class="form-group fg-line">
                        <textarea class="form-control p-t-10 input-letra-prometeo" placeholder="No hay observaciones del criterio" ng-model="criterio.indicaciones" disabled>
                        </textarea>
                        <div class="radio m-b-15" ng-repeat="nivel in ctrl.nivelesEscala" ng-disabled="true">
                          <label ng-if="!ctrl.noMostrarCalificacion" class="control-label input-letra-prometeo">
                              <input type="radio" name="{{criterio.id}}" ng-model="criterio.puntajeAsignado" ng-disabled="true" ng-value="criterio.nivelesCriterios[$index].puntajeSeleccion">
                              <i class="input-helper"></i>
                              {{criterio.nivelesCriterios[$index].descripcion}} ({{criterio.nivelesCriterios[$index].puntajeSeleccion}} ptos )
                          </label>
                          <label ng-if="ctrl.noMostrarCalificacion" class="control-label input-letra-prometeo">
                              <input type="radio" name="{{criterio.id}}" ng-disabled="true">
                              <i class="input-helper"></i>
                              {{criterio.nivelesCriterios[$index].descripcion}} ({{criterio.nivelesCriterios[$index].puntajeSeleccion}} ptos )
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-md-12">
            <div class="col-sm-12" align="right">
              <button type="button" ng-click = "ctrl.regresar()" class="btn btn-default waves-effect bgm-green"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</section>
