<section id="main">
  <div ng-controller="asignarHorarioCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <h2>Horarios</h2>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h2>{{ctrl.codigo}} - {{ctrl.nombre}}</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row-md-12 m-b-20">
            <div class="col-md-10">
              <div class="pull-right">
                <label for="archivoCargaMasivaUsuarios" class="btn bgm-blue float-sm-none waves-effect "><i class="fa fa-upload"></i> Subir Archivo</label>
                <input type="file" id="archivoCargaMasivaUsuarios" carga-masiva-alumnos-horario parametros="ctrl.idCursoCicloJSON" evento-post-subida="" evento-post-seleccion="ctrl.obtenerInfoArchivo" style="display:none">
              </div>
            </div>
            <div class="col-md-2">
              <div class="pull-right">
                <button class="btn btn-primary" ng-click = "ctrl.agregarHorario('c','-1')"><i class="fa fa-plus-circle"></i> Agregar Horario</button>
              </div>
            </div>
          </div><br>
          <div class="row-md-12">
            <div class="col-md-12">
              <div class="table-responsive">
                <table ng-table="ctrl.tablaHorarios" class="table table-bordered">
                  <tr ng-repeat="horario in ctrl.horariosLista" align = "center">
                    <td data-title="'Nro.'" align="center" width="5%">
                      {{$index + 1}}
                    </td>
                    <td data-title="'Código Horario'">
                      {{horario.codigo}}
                    </td>
                    <td data-title="'Código Profesor'">
                      {{horario.codigoP}}
                    </td>
                    <td data-title="'Nombre Profesor'">
                      {{horario.nombres}}
                    </td>
                    <td data-title="'Asistentes de Docencia'">
                      <div class="col-md-7" >
                        <a href="" style="float:right" ng-click="ctrl.editarAsistentes(horario)">
                          <i class="fas fa-user"></i>
                        </a>
                      </div>
                    </td>
                    <td data-title="'Editar / Eliminar'">
                      <div class="col-md-5" >
                        <a href="" style="float:right" ng-click="ctrl.editarHorario(horario,$index)">
                          <i class="fas fa-pencil-alt"></i>
                        </a>
                      </div>
                      <div class = "col-md-4">
                        <a href="" style="float:right"  ng-click="ctrl.eliminarHorario(horario,$index)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-12" align ="right">
          <button type="button" ng-click = "ctrl.regresarListarCursos()" class="btn btn-default waves-effect bgm-green"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
        </div>
      </div>
    </div>
  </div>
</section>
