<section id="main">
  <div ng-controller="asignarAsistentesCtrl as ctrl">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="block-container">
            <h2> {{ctrl.nombreCurso}} - {{ctrl.horario}} </h2>
          </div>
        </div>

      </div>

    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-12">
                <h3> Asistentes de docencia disponibles </h3>
                <!--button class="btn btn-primary" ng-click = ""><i class="fa fa-users"></i> Grupos </button-->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table ng-table="" class="table table-hover">
                    <tr ng-repeat="asistente in ctrl.asistentesNoHorario" (click)="RowSelected(asistente);">
                      <td data-title="'Código'">
                        {{asistente.codigo}}
                      </td>
                      <td data-title="'Nombre'">
                        {{asistente.nombreCompleto}}
                      </td>
                      <td data-title="'Especialidad'">
                        {{asistente.nombreEspecialidad}}
                      </td>
                      <td data-title="'Agregar'">
                        <input type="checkbox" ng-model="asistente.marcado">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1" align="center">
          <div class="<col-md-12 m-t-50>">
            <div class="row">
              <div class="col-md-12 m-t-30">
                <label ng-click="ctrl.agregarAlGrupo()" class="btn bgm-blue"><i class="fa fa-arrow-right">  </i></label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 m-t-30">
                <label ng-click="ctrl.sacarDelGrupo()" class="btn bgm-blue"><i class="fa fa-arrow-left">  </i></label>
              </div>
            </div>
          </div>
      </div>

        <div class="col-md-5">
          <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <h3> Asistentes de docencia en el horario:</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table ng-table="" class="table table-hover">
                        <tr ng-repeat="asistente in ctrl.asistentesHorario" (click)="RowSelected(asistente);">
                          <td data-title="'Código'">
                            {{asistente.codigo}}
                          </td>
                          <td data-title="'Nombre'">
                            {{asistente.nombreCompleto}}
                          </td>
                          <td data-title="'Especialidad'">
                            {{asistente.nombreEspecialidad}}
                          </td>
                          <td data-title="'Sacar'">
                            <input type="checkbox" ng-model="asistente.marcado">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
    <div class="col m-t-50" align="right">
      <button type="button" class="btn btn-primary waves-effect" ng-click="ctrl.actualizarAsistentes()"><i class="fa fa-save"></i> Guardar</button>
      <button type="button" class="btn btn-default waves-effect" ng-click="ctrl.volverCursoCiclo()"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
    </div>

    </div>
  </div>
</section>
