<section id="main">
  <div ng-controller="gestionHorariosCtrl as ctrl">
    <div class="container">

      <div class="row">
        <div class="col">
          <h2>Listar cursos</h2>
          <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6" align="left">
                  <div class="form-group">
                    <label class="col-sm-6 control-label m-t-10 m-b-0">Código*: </label>
                    <div class="col-sm-6">
                      <div class="fg-line">
                        <input class="form-control input-sm" placeholder="Ingrese el código del curso" ng-model = "ctrl.cursoNuevo.claveCurso">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" align="left">
                  <div class="form-group">
                    <label class="col-sm-6 control-label m-t-10 m-b-0">Nombre curso*: </label>
                    <div class="col-sm-6" >
                      <div class="fg-line">
                        <input class="form-control input-sm" placeholder="Ingrese el nombre del curso" ng-model = "ctrl.cursoNuevo.nombreCurso">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" align="left">
                  <div class="form-group">
                    <label class="col-sm-6 control-label m-t-10 m-b-0"align="left">Facultad*: </label>
                    <div class="col-sm-6">
                      <div class="fg-line">
                        <div class="select">
                          <select class="form-control"
                            data-placeholder="Seleccione una facultad"
                            ng-model="facultad"
                            ng-options="facultad as facultad.nombre for facultad in ctrl.facultadesLista">
                            <option value=""></option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" align="left">
                  <div class="form-group">
                    <label class="col-sm-6 control-label m-t-10 m-b-0" >Especialidad*: </label>
                    <div class="col-sm-6">
                      <div class="fg-line">
                        <div class="select">
                          <select class="form-control"
                            data-placeholder="Seleccione una especialidad"
                            ng-model="especialidad"
                            ng-options="especialidad as especialidad.nombre for especialidad in ctrl.especialidadesLista">
                            <option value=""></option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" align="left">
                  <div class="form-group">
                    <label class="col-sm-6 control-label m-t-10 m-b-0"align="left">Semestre*: </label>
                    <div class="col-sm-6">
                      <div class="fg-line">
                        <div class="select">
                          <select class="form-control"
                            data-placeholder="Seleccione un semestre"
                            ng-model="ciclo"
                            ng-options="ciclo.id as ciclo.nombreCiclo for ciclo in ctrl.ciclosLista"
                            ng-change="">
                            <option value=""></option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <h1></h1>
              </div>
              <div class="row">
                <div class="col" align="left">
        <!--          <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  <button type="button" ng-click = "ctrl.guardarCurso(curso)" class="btn btn-primary waves-effect"><i class="fa fa-search"></i> Buscar</button>
                  <button type="button" ng-click = "ctrl.regresarAdministrador()" class="btn btn-default waves-effect"><i class="fa fa-file-excel"></i> Exportar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="col-md-12">
          <div class="table-responsive">
            <table ng-table="ctrl.tablaCursos" class="table table-bordered" show-filter="true">
              <tr ng-repeat="curso in ctrl.cursosLista">
                <!-- <td data-title="'Rol'">
                  {{usuario.rolesUsuario[0].rol.descripcion}}
                </td> -->
                <td data-title="'Código'">
                  {{curso.codigo}}
                </td>
                <td data-title="'Nombre'">
                  {{curso.nombre}}
                </td>
                <!-- <td data-title="'Unidad académica'">
                  {{usuario.especialidad.facultad.nombre}}
                </td> -->
                <td data-title="'Créditos'">
                  {{curso.creditos}}
                </td>
                <td data-title="'Eliminar  /  Ver Horarios  /  Editar'">
                  <div class = "col-md-4">
                    <a style="float:right"  ng-click="ctrl.eliminarCursoCiclo(curso,$index)">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a style = "float:right" ng-click="ctrl.asignarHorarios(curso)">
                      <i class= "fa fa-calendar"></i>
                    </a>
                  </div>
                  <div class="col-md-3" >
                    <a style="float:right" ng-click="ctrl.editarCurso(curso)">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      <div class="row">
        <h1></h1>
      </div>
      <div class="row">
        <div class="col-md-11" align="right">
          <button type="button" ng-click = "ctrl.regresarAdministrador()" class="btn btn-default waves-effect"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
        </div>
      </div>


    </div>


</section>
