<section id="main">
  <div ng-controller="creacionFacultadCtrl as ctrl">
    <div class="container">

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h2>{{ctrl.titulo}}</h2>
            </div>
            <div class="card-body">

                <div class="row">
                  <div class="col-sm-6" align="left">
                    <form class="form-horizontal ng-pristine ng-valid">
                      <div class="card-body card-padding">
                        <div class="form-group">
                          <label class="col-sm-6 control-label m-t-10 m-b-0" aligned="left">Código*: </label>
                          <div class="col-sm-6">
                            <div class="fg-line">
                              <input class="form-control input-sm" placeholder="Ingrese la clave del curso" ng-model = "ctrl.facultadActual.codigo">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-6 control-label m-t-10 m-b-0">Nombre Facultad*: </label>
                          <div class="col-sm-6" >
                            <div class="fg-line">
                              <input class="form-control input-sm" placeholder="Ingrese el nombre del curso" ng-model = "ctrl.facultadActual.nombre">
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col" align='right'>
                    <button type="button" ng-click = "ctrl.guardarFacultad()" class="btn btn-primary waves-effect"><i class="fa fa-save"></i> Guardar Facultad</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-13">
        <div class="table-responsive">
          <table ng-table="ctrl.tablaFacultades" class="table table-bordered">
            <tr ng-repeat="facultad in ctrl.facultadesLista">
              <td data-title="'Nro.'" align="center" width="5%">
                {{$index + 1}}
              </td>
              <td data-title="'Código'" align="center">
                {{facultad.codigo}}
              </td>
              <td data-title="'Facultad'">
                {{facultad.nombre}}
              </td>
              <td data-title="'Acciones'" align="center">
                <a href="" class="p-r-10" ng-click="ctrl.editarFacultad(facultad)">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="" class="p-r-10" ng-click="ctrl.eliminarFacultad(facultad,$index)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row"><h1></h1></div>
      <div class="row">
        <div class="col">
            <h5>Campos obligatorios *</h5>
        </div>
        <div class="col" align="right">
          <button type="button" ng-click = "ctrl.regresarAdministrador()" class="btn btn-default waves-effect bgm-green"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
        </div>
      </div>



    </div>

  </div>
</section>
