<section id="main">
  <div ng-controller="nuevaListaCotejoCtrl as ctrl">
    <div class="container">
      <div class="block-container">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-10">
                <h2>{{ctrl.titulo}}<h2>
              </div>
            </div>
          </div>
          <div class="card-body">

            <!-- Criterios -->
            <div class="form-group p-t-20">
              <div class="col-sm-12">
                <label class="col-sm-2 control-label m-t-15">Criterios</label>
                <label style="z-index:2;" class="btn bgm-blue btn-float waves-effect waves-circle" ng-click="ctrl.agregarCriterio()"><i class="fa fa-plus"></i></label>
              </div>
            </div>
            <div class="form-group">
              <div class="table-responsive p-t-30">
                <table ng-table="ctrl.criteriosTabla" class="table table-bordered">
                  <tr ng-repeat="criterio in ctrl.criteriosLista">
                    <td data-title="'Descripción del Criterio'">
                      {{criterio.descripcion}}
                    </td>
                    <td data-title="'Indicaciones del Criterio'">
                      {{criterio.indicaciones}}
                    </td>
                    <td data-title="'Detalle'" align="center">
                      <a ng-click="ctrl.editarCriterio($index)" class="m-r-10"><i class="fa fa-pencil-alt"></i></a>
                      <a ng-click="ctrl.eliminarCriterio($index)" class="m-l-10"><i class="fa fa-trash-alt"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!--------->

            <div class="col-md-12" align="right">
              <button type="button" ng-click = "ctrl.guardarRubrica()" class="btn btn-primary waves-effect"><i class="fa fa-save"></i> Guardar</button>
              <button type="button" ng-click = "ctrl.regresarEntregable()" class="btn btn-default waves-effect"><i class="fa fa-arrow-circle-left"></i> Atrás</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
